#
# JBZoo Toolbox - __PACKAGE__
#
# This file is part of the JBZoo Toolbox project.
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.
#
# @package    __PACKAGE__
# @license    MIT
# @copyright  Copyright (C) JBZoo.com, All rights reserved.
# @link       https://github.com/JBZoo/__PACKAGE__
#

.idea
.DS_Store
build
vendor
phpunit.xml
composer.lock
*.cache

# Cutline
SkeletonPhp*
